$font-size-base = calc(72% + 0.5vw)

$grid = .25rem
$golden-ratio = 1.61803398875

$color-title-bg = #48A0F7
$color-border-light = #8EA7BA
$color-bg-light-darker = #E4EFF9
$color-bg-light = #f4f4f4
$color-article-bg = #EFF5F9
$color-footer-bg = #2B343D
$color-content-light-darker = #CCCCCC
$color-content-dark = #232323

// team airkep
$color-ta-navbar-background = #63BDE0
$color-ta-body-background = #FCFFFD
$color-ta-content-light = #FFF
$color-ta-content-dark-lighter = #454549
$color-ta-footer-background = #3B3B3F
$color-ta-main-nav-link-background = #3B3B3F
$color-ta-main-nav-link-background__hover = #606063

$height-article-logo = 40%
$width-article-logo = $height-article-logo * $golden-ratio

$width-articles = $grid*160
$max-width-articles = 80vw

$padding-header = $grid*5

$font-family-paragraph-en = Helvetica Neue, "Helvetica Neue", Helvetica, "Helvetica"
$font-family-paragraph-ja = HiraginoSans, "Hiragino Sans"
$font-family-team-airkep-brand = ReemKufi, 'Reem Kufi'

$ratio-footer-img = 5.454545454545454
define-relative-variables('$font-size', 1rem)
define-relative-variables('$line-height', 1rem * 1.7)
