@import 'nib'
@import 'functions'
@import 'vars'
@import 'mixins'

global-reset()

*
  box-sizing border-box
  position relative

a
  text-decoration none
  color inherit

.brand
  font-family $font-family-team-airkep-brand

ta-header() // ta = team airkep
  flex 0 0 auto
  display flex
  flex-flow row nowrap
  justify-content space-between
  font-size $font-size-large
  size 100% @font-size*3.2
  background-color $color-ta-navbar-background
  & > .header-left
    display flex
    flex-flow row nowrap
    & > .header-left-logo
      flex 0 0 auto
      display flex
      size auto
      padding 0 $grid*6
      align-items center
      justify-content center
      color $color-ta-content-light

ta-main()
  flex 1 0 auto
  display flex
  flex-flow column nowrap
  & > .main-nav
    flex 0 0 auto
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
    padding $grid*8 0
    & > .main-nav-link
      margin $grid*4 0
      flex 0 0 auto
      display flex
      flex-flow row nowrap
      justify-content center
      align-items center
      font-size $font-size-large
      size 72% @font-size*4.2
      color $color-ta-content-light
      background-color $color-ta-main-nav-link-background
      &:hover
        background-color $color-ta-main-nav-link-background__hover
      &.disable
        &:hover
          background-color $color-ta-main-nav-link-background
        &:before
          content '準備中'
          display flex
          flex-flow row nowrap
          justify-content center
          align-items center
          size 100%
          font-size $font-size-huge
          color rgba($color-ta-content-dark-lighter, .7)
          absolute top 0 left 0
          background-color rgba(255,255,255,.86)
          z-index 1
      & > a
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        size 100%



ta-footer()
  flex 0 0 auto
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  background-color $color-ta-footer-background
  & > .footer-center
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
    padding $grid*12 0
    & > a
      display block
      flex 0 0 auto
      & > .footer-center-logo
        display block
        size $grid*6
        margin $grid*2 0
    & > .brand
      flex 0 0 auto
      font-size $font-size-minimal
      color $color-ta-content-light
      size auto
      margin $grid*1.6 0



html
  font-size $font-size-base
  & > body
    display flex
    flex-flow column nowrap
    min-height 100vh
    background-color $color-ta-body-background
    font-family $font-family-paragraph-en, $font-family-paragraph-ja, sans-serif
    & > .header
      ta-header()
    & > .main
      ta-main()
    & > .footer
      ta-footer()
